<ion-header [translucent]="true">
  <ion-toolbar>
    @if (shouldShowButton()) {
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    }

    <ion-title>
      <span>
        Header Component
      </span>
    </ion-title>
    @if(!shouldShowButton()) {
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
    }

  </ion-toolbar>
</ion-header>
