<app-header></app-header>
<ion-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        @for(chord of chords; track chord.id) {
        <app-chord-item [chordId]="chord.id" [chordName]="chord.chordName"
                        [chordImage]="chord.chordImage"></app-chord-item>
        }
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
