<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        @for(chord of chords; track chord.id) {
        <app-chord-item [chordId]="chord.id" [chordName]="chord.chordName"
                        [chordImage]="chord.chordImage"></app-chord-item>
        }
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
