<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense"> -->
  <!--   <ion-toolbar> -->
  <!--     <ion-title size="large">Tab 1</ion-title> -->
  <!--   </ion-toolbar> -->
  <!-- </ion-header> -->

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        yo wattup
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
